$highlightedText: rgba(rgb(241, 197, 80), 1);
$mainColor: #092a35;
$error-color: #c40b13;

#root {
  position: relative;
  min-height: 100vh;
  padding: 0;
  color: white;
  font-weight: 500;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: cover;
  filter: grayscale(0.05) opacity(0.7) contrast(1.4) brightness(0.7);
  z-index: -1;
}

#background-blue {
  background-image: url("./images/bg-blue1.jpg");
}
#background-color1 {
  background-image: url("./images/bg-color1.jpg");
}
#background-color2 {
  background-image: url("./images/bg-color2.jpg");
}
#background-color3 {
  background-image: url("./images/bg-color3.jpg");
}
#background-color4 {
  background-image: url("./images/bg-color4.jpg");
}

.navb {
  background-color: $mainColor;
  box-shadow: 0 0 5px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  #toggle {
    box-shadow: 0 0 2px $highlightedText;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28241, 197, 80, 0.95%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
  }
  #responsive-navbar-nav {
    justify-content: space-between;
  }
  .logo {
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: $highlightedText;
    font-weight: 700;
    text-decoration: none;
    .icon {
      margin: 2px;
      font-size: 2.2rem;
    }
    &:hover {
      color: $error-color;
    }
  }
  .login-btn {
    background-color: white;
    border-radius: 5px;
    font-weight: 700;
    margin: 0 5px;
    .icon {
      width: 20px;
      color: blue;
      margin: 5px;
    }
    &:hover {
      background-color: rgba($highlightedText, 0.9);
    }
  }
  .logout-btn {
    color: black;
    font-weight: 700;
    background-color: $highlightedText;
    border-radius: 5px;
  }
}

.home {
  padding-top: 70px;
  padding-bottom: 70px;
  .welcome {
    padding: 10px;
    .info {
      text-align: justify;
      padding: 10px;
    }
    span {
      color: $highlightedText;
    }
  }
  .contact {
    padding: 10px;
  }
  button {
    width: 90%;
    display: block;
    margin: 10px auto;
  }
  .day {
    display: flex;
    justify-content: space-between;
  }
}

.heading {
  font-size: 1.3rem;
  text-align: center;
  color: $highlightedText;
}

.warning-message-box {
  margin: 3px 0;
  background-color: rgba($error-color, 0.9);
  text-align: center;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 0 5px black;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  p {
    margin-bottom: 0;
  }
}

.res-msg {
  position: fixed;
  top: 70px;
  right: 20px;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 5px 20px;
  border-radius: 5px;
  color: white;
}

.res-msg-success {
  background-color: green;
}

.res-msg-error {
  background-color: $error-color;
}

.card-box {
  margin: 10px 0 20px 0;
  padding: 10px;
  box-shadow: 0 0 5px black;
  background-color: rgba($mainColor, 0.7);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 3px;
}

.nav-btn {
  color: $highlightedText;
  font-size: 1.2rem;
  margin: 5px 10px 5px 0;
  padding: 0 10px;
  text-decoration: none;
  &:hover {
    color: white;
  }
}

.button {
  border-radius: 3px;
  padding: 5px 8px;
  font-weight: 700;
  margin: 2px;
  background-color: white;
  border: 1px solid $highlightedText;
  &:hover {
    background-color: $highlightedText;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  margin: 30px 0 0 0;
  padding: 0;
  font-size: 0.9rem;
  p {
    margin-bottom: 0;
    padding: 10px;
    span:first-child {
      color: $highlightedText;
    }
  }
}

.about {
  padding-top: 80px;
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      width: 80%;
      margin: 10px;
    }
  }
  .about-description {
    p {
      text-align: justify;
      padding: 0 10px;
    }
    img {
      padding: 10px;
    }
    .rolam {
      img {
        width: 40%;
        float: right;
      }
    }
    .rendelo {
      #polcok {
        width: 35%;
        float: right;
      }
      .img-container {
        display: flex;
        justify-content: space-evenly;
        .img-rendelo {
          width: 48%;
        }
      }
    }
    .recepcio {
      img {
        width: 35%;
        float: right;
      }
      &::after {
        content: "";
        display: block;
        clear: both;
      }
    }
    .contact {
      color: $highlightedText;
    }
    .szakrendelesek {
      .no-need-header {
        color: $highlightedText;
        font-size: 1.2rem;
      }
      .no-need {
        color: $highlightedText;
      }
      .help {
        font-size: 0.8rem;
      }
    }
  }
}

.doctors {
  padding-top: 80px;
  .info {
    text-align: center;
  }
  .search {
    input {
      width: 80%;
      display: block;
      margin: 5px auto;
      border-radius: 5px;
    }
  }
  .address-container {
    .address {
      font-weight: bold;
    }
    .show-more {
      text-align: center;
      hr {
        margin: 2px 0;
        background-color: rgba(white, 0.5);
      }
      svg {
        fill: $highlightedText;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .doctors-details {
    h3 {
      text-align: center;
    }
    .doctor-card {
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .doctor-tel {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
}
.messages {
  padding-top: 80px;
  #message {
    display: block;
    margin: 10px auto;
    max-width: 95%;
  }
  .button {
    width: 90%;
    display: block;
    margin: auto;
  }
}

.display-messages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .private-msg-user {
    background-color: rgb(170, 170, 170);
    width: 70%;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px;
  }
  .private-msg-admin {
    background-color: rgb(141, 193, 209);
    width: 70%;
    align-self: flex-end;
    padding: 5px 10px;
    border-radius: 3px;
    margin: 5px;
  }
}

.calendar {
  padding-top: 80px;
  font-weight: 700;
  .calendar-info {
    text-align: justify;
    .hl-green {
      color: green;
    }
    .hl-red {
      color: $error-color;
    }
  }
  .user-appointment {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 25px;
    .details {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-items: end;
      padding: 5px;
      span:first-child {
        justify-self: start;
      }
    }
  }
  .booking {
    margin-bottom: 40px;
    button,
    select,
    input {
      display: block;
      width: 90%;
      margin: 10px auto;
    }
  }
  .date {
    color: $highlightedText;
  }
}

.admin {
  padding-top: 80px;
  .card-box {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .admin-icon {
      font-size: 6rem;
      margin-bottom: 20px;
      color: $highlightedText;
    }
  }

  .admin-container {
    margin: 0;
    min-height: 100vh;
    font-size: .95rem;
    font-weight: 400;
    background-color: rgba(255, 255, 255, .9);
    hr {
      background-color: $mainColor;
    }
  }
}

.admin-card {
  color: black;
  box-shadow: 0 0 2px black;
  border-radius: 2px;
  background-color: rgba(223, 223, 223, 0.8);
  margin: 20px 0;
  padding: 10px;
}

.admin-button {
  border-radius: 1px;
  font-weight: 500;
  box-shadow: 0 0 2px grey;
  padding: 5px 10px;
  margin: 2px;
  background-color: white;
  border: 1px solid grey;
  &:hover {
    background-color: rgb(143, 142, 142);
  }
}

.delete-btn {
  background-color: rgba($error-color, .8);
  &:hover {
    background-color: $error-color;
  }
}

.save-btn {
  background-color: rgba(59, 121, 139, .8);
  &:hover {
    background-color: rgb(59, 121, 139);
  }
}


.admin-messages {
  padding-top: 80px;
  button {
    margin-top: 10px;
  }
  .admin-msg-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0;
    padding: 20px;
    border-radius: 3px;
    div {
      display: flex;
      justify-content: space-between;
      margin: 3px 0;
      .username {
        font-weight: 500;
      }
    }
    .incoming-msg {
      color: $error-color;
      font-size: 1.7rem;
    }
    .replied-msg {
      color: green;
      font-size: 1.7rem;
    }
  }
  .write-message {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}

.admin-calendar {
  max-width: 1400px;
  padding: 80px 10px 0 10px;
  margin: 0 auto;
  .nav-btns {
    display: flex;
    flex-direction: column;
    .button {
      margin: 5px 0;
    }
  }
  .edit-reservation {
    background-color: rgba(white, .95);
    border-radius: 3px;
    padding: 10px 20px;
    color: black;
    box-shadow: 0 0 3px black;
    h4 {
      text-align: center;
      padding: 15px 0;
      color: $highlightedText;
    }
    .date {
      text-align: center;
      font-weight: 500;
    }
    .form {
      padding: 20px 10px;
      display: flex;
      flex-direction: column;
      select,
      input {
        margin: 5px 0;
        padding: 5px 3px;
        border-radius: 3px;
      }
    }
    .buttons {
      display: flex;
      justify-content: space-evenly;
      padding: 10px 0;
    }
  }
  .calendar-box {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
    color: black;
    .inactive {
      color: rgba(grey, 0.5);
    }
    .day {
      box-shadow: 0 0 2px grey;
      padding: 5px;
      width: 105px;
      margin: 10px 0;
      background-color: rgba(white, .95);
      border: 1px solid gray;
      .date {
        text-align: center;
        font-weight: 700;
      }
      .btns {
        display: flex;
        justify-content: space-evenly;
      }
      hr {
        background-color: black;
      }
      .special-day-select {
        display: flex;
        justify-content: center;

        #newDay {
          margin-top: 5px;
          color: grey;
          border-radius: 3px;
        }
      }
      .time-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2px 0;
        min-height: 42px;
        .time {
          margin: auto;
          padding-left: 8px;
        }
        .info-button {
          border-radius: 3px;
          border: 1px solid grey;
          height: 35px;
          width: auto;
        }
        .description {
          margin: 0 auto;
          width: 80%;
          padding: 0 10px;
        }
      }
      .generale {
        background-color: green;
      }
      .vaccination {
        background-color: $error-color;
      }
      .pause {
        background-color: grey;
      }
    }
  }
  #focus {
    width: 330px;
  }
}

.admin-edit {
  padding-top: 80px;
  .edit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    h2 {
      text-align: center;
    }
    textarea {
      margin: 15px;
      width: 350px;
    }
    select {
      padding: 5px 10px;
      margin-right: 50px;
      border-radius: 5px;
    }
  }
}


.admin-edit-streets {
  padding-top: 80px;
  margin: 10px auto;
  .street {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 5px;
    .active {
      border: 3px solid green;
    }
    .btns {
      display: grid;
      grid-template-columns: 2fr 1fr;
      justify-items: flex-end;
    }
  }
}

.admin-edit-doctors {
  padding-top: 80px;
  .dr {
    margin: 15px 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    #name {
      width: 70%;
    }
    .active {
      border: 5px solid green;
    }
    .btns {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
  }
} 

@media (max-width: 768px) {
  #root {
    font-size: 14px;
  }
  .home {
    padding-bottom: 150px;
  }
  .footer {
    flex-direction: column;
  }
  .admin-calendar {
    .calendar-box {
      flex-direction: column;
      .day, #focus {
        width: 100%;
      }
      .day{
        margin: 10px 0;
      }
    }
  }
  .faq {
    img, iframe {
      width: 90%;
      margin: 10px auto;
      float: none;
      display: block;
    }
  }
}